.container {
  text-align: left;
  display: flex;
}
.container .outline {
  width: 300px;
}
.container .content {
  border: 2px solid #40a9ff;
  width: 70vw;
  padding: 20px;
  padding-top: 0;
}
.container .tips {
  right: 0;
  border: 2px solid #ff85c0;
  position: fixed;
  top: 20%;
}
.container .tips .operations ul li {
  list-style: none;
  font-size: 18px;
  margin-bottom: 20px;
}
.container .tips .dismiss {
  position: absolute;
  border: 2px solid #2fd897;
  top: 50%;
  left: -50px;
  transform: rotate(-90deg);
}
